<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <title>Create Post</title>
  </head>

  <body>
    <nav>
      <a href="/" alt="home" id="logo">01 Forum</a>
      {{if .}}
      <div class="links">
        <a href="/logout" alt="logout" id="logout-btn"
          ><button class="nav-btn">Logout</button></a
        >
        <a href="/posts/create" alt="create post" id="create-post-btn"
          ><button class="nav-btn">Create Post</button></a
        >
        <a href="/users/{{.UserName}}" alt="my posts" id="my-posts-btn"
          ><button class="nav-btn">My Posts</button></a
        >
      </div>
      {{else}}
      <div class="links">
        <a href="/register" alt="register"
          ><button class="nav-btn">Register</button></a
        >
        <a href="/login" alt="login"><button class="nav-btn">Login</button></a>
      </div>
      {{end}}
    </nav>
    <main>
      <div class="container">
        <h1>Create Post</h1>
        <form action="/posts/create" method="post">
          <label for="title"
            ><h3>Post Title</h3>
            <input
              type="text"
              id="title"
              name="title"
              placeholder="Please provide a title for your post..."
              required
          /></label>
          {{ with .Errors.EmptyTitle }}
          <div class="error">{{.}}</div>
          {{end}}

          <label for="content"
            ><h3>Post Content</h3>
            <textarea
              id="content"
              name="content"
              placeholder="Please enter something..."
              required
            ></textarea>
          </label>
          {{ with .Errors.EmptyContent }}
          <div class="error">{{.}}</div>
          {{end}}

          <div>
            <label for="sport"
              ><input
                type="checkbox"
                value="sport"
                id="sport"
                name="categories"
                checked
              />Sport</label
            >

            <label for="games"
              ><input
                type="checkbox"
                value="games"
                id="games"
                name="categories"
              />Games</label
            >

            <label for="News">
              <input
                type="checkbox"
                value="News"
                id="News"
                name="categories"
              />News</label
            >

            <label for="lifestyle">
              <input
                type="checkbox"
                value="lifestyle"
                id="lifestyle"
                name="categories"
              />Lifestyle</label
            >

            <label for="food"
              ><input
                type="checkbox"
                value="food"
                id="food"
                name="categories"
              />Food</label
            >
          </div>
          <button type="submit" class="submit-btn">Create</button>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
