<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <mta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/error_page.css" />
  <link href="https://fonts.googleapis.com/css?family=Anton+SC|Oswald:200,300&display=swap" rel="stylesheet">
  <title>Groupie-Tracker</title>
</head>

<body>
  <main>
    <div class="errorContainer">
      <div class="statusCode">{{.StatusCode}}</div>
      <div class="errMsg">{{.ErrMsg}}</div>
      <a href="/"><button class="goHomeButton" type="submit" value="Go Home">
          Go Home
        </button></a>
    </div>
  </main>
  <footer>
    <p>Groupie Tracker © 2024 Zone01</p>
  </footer>
</body>

</html>