<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <h2>Login</h2>
    
    <form action="/login" method="post">
      <input
        type="text"
        name="user-name"
        maxlength="20"
        placeholder="please enter your user name or email"
      />
      <input
        type="password"
        name="password"
        minlength="4"
        placeholder="please enter your password"
      />
      <input type="submit" />
    </form>
  </head>
  <body></body>
</html>
